/.metadata
.DS_Store
forest_monitoring/models/.DS_Store
/forest_monitoring/models/backup
/forest_monitoring/includes/export
forest_monitoring/models/.DS_Store
/forest_monitoring/models/backup2
forest_monitoring/models/.DS_Store
/forest_monitoring/models/backup3
forest_monitoring/save_log.log
forest_monitoring/checkreadID.log
forest_monitoring/models/New Model.gaml
forest_monitoring/Untitled.log
/forest_monitoring/models/includes/export
/forest_monitoring/models/backup4
/forest_monitoring/models/backup_now
forest_monitoring/8Oct_noproblem.log
/forest_monitoring/results
forest_monitoring/QuestionnaireAfter_problem.log
test/.project
/test
/forest_monitoring/models/backup5
gama_ws_python/all_check.zip
gama_ws_python/gama_actions.csv
gama_ws_python/coins.json
gama_ws_python/scores.json
gama_ws_python/all_check2.zip
/forest_monitoring/models/backup20Nove_before_big_change
